.modal-submit, .hero-btn, .tickets-onetime-btn, .tickets-main-btn {
  border-radius: 5px;
  color: #F4F2F1;
  background-color: #FF3002;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.modal-submit:hover, .hero-btn:hover, .tickets-onetime-btn:hover, .tickets-main-btn:hover {
  background-color: rgba(255, 48, 2, 0.55);
}

* {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
}

ul {
  padding-left: 0;
}

address {
  font-style: normal;
}

input {
  outline: none;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat";
  color: #F4F2F1;
  background-color: #1E1E1E;
  font-display: swap;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  width: 100%;
  position: absolute;
  top: 38px;
}
.header-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-right: 20px;
  gap: 51px;
}
@media screen and (min-width: 768px) {
  .header-wrap {
    gap: 10px;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrap {
    margin: 0;
    margin-left: auto;
  }
}
.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header-link {
  font-size: 14px;
  font-family: inherit;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .header-link {
    font-size: 16px;
  }
}
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header-logo {
    display: none;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.icon-bg {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4px;
  padding-left: 5.3px;
  width: 22.96px;
  height: 24px;
  background-color: #1E1E1E;
  border-radius: 50%;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .icon-bg {
    display: block;
  }
}

.about {
  padding: 90px 0;
}
.about-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  margin-bottom: 40px;
}
.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-content img {
  width: 480px;
}
@media screen and (min-width: 768px) {
  .about-content img {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .about-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.about-desc {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.005em;
  text-align: left;
}

.tickets {
  padding-bottom: 36px;
}
.tickets-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  padding-bottom: 64px;
}
.tickets-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .tickets-main {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.tickets-main-item {
  text-align: center;
  width: 163px;
  background-color: #43484D;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media screen and (min-width: 768px) {
  .tickets-main-item {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .tickets-main-item {
    width: 302px;
    height: 489px;
    padding-top: 53px;
  }
}
.tickets-main-item:hover {
  background-color: white;
  color: #43484D;
  outline: 2px solid #FF3002;
}
.tickets-main-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .tickets-main-title {
    font-size: 28px;
    margin-bottom: 36px;
  }
}
.tickets-main-price {
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .tickets-main-price {
    font-size: 40px;
    margin-bottom: 36px;
  }
}
.tickets-main-desc {
  margin: 0 auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .tickets-main-desc {
    width: 205px;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 113px;
  }
}
.tickets-main-btn {
  width: 135px;
  height: 36px;
}
@media screen and (min-width: 1200px) {
  .tickets-main-btn {
    width: 195px;
    height: 48px;
  }
}
.tickets-onetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .tickets-onetime {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.tickets-onetime-item {
  width: 344px;
  height: 100px;
  background-color: #43484D;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 9px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media screen and (min-width: 768px) {
  .tickets-onetime-item {
    width: 628px;
  }
}
@media screen and (min-width: 1200px) {
  .tickets-onetime-item {
    height: 120px;
    padding-top: 12px;
    padding-bottom: 14px;
  }
}
.tickets-onetime-item:hover {
  background-color: white;
  color: #43484D;
  outline: 2px solid #FF3002;
}
.tickets-onetime-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 48px;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  .tickets-onetime-desc {
    font-size: 20px;
  }
}
.tickets-onetime-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 0px;
}
@media screen and (min-width: 1200px) {
  .tickets-onetime-price {
    font-size: 40px;
  }
}
.tickets-onetime-btn {
  width: 180px;
  height: 35px;
}

.hero {
  padding-top: 155px;
  padding-bottom: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 440px;
  }
}
.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-title {
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 140px;
    font-weight: 400;
    line-height: 140px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    margin-bottom: 32px;
  }
}
.hero-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
  margin-bottom: 403px;
}
@media screen and (min-width: 768px) {
  .hero-desc {
    margin-bottom: 52px;
    font-size: 32px;
    font-weight: 400;
    line-height: 39.01px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}
.hero-btn {
  width: 320px;
  height: 64px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero-btn {
    margin: 0;
  }
}
.hero-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .hero-socials {
    position: absolute;
    left: auto;
    bottom: auto;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 370px;
    right: -170px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-socials {
    top: 420px;
    right: -270px;
  }
}
.hero-socials::before, .hero-socials::after {
  content: "";
  width: 120px;
  border: 1px solid #F4F2F1;
  display: block;
}
@media screen and (min-width: 1200px) {
  .hero-socials::before, .hero-socials::after {
    width: 215px;
  }
}

.hero-icon {
  fill: #F4F2F1;
}

.footer {
  background-color: #FF3002;
  padding: 20px 0;
  padding-left: 65px;
  padding-right: 75px;
}
.footer-logo {
  width: 100px;
  height: 62px;
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.footer-icon {
  fill: #F4F2F1;
}

.contacts {
  padding-bottom: 193px;
}
.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 126px;
}
.contacts-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 11px;
}
.contacts-description {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-svg {
  fill: #F4F2F1;
  margin-right: 21px;
}
.contacts-item-description {
  margin-left: 41px;
}

.desciption-wrap {
  min-width: 600px;
}

.gallery {
  margin-top: 97px;
  margin-bottom: 40px;
  overflow: hidden;
}
.gallery-image {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.gallery-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  overflow: hidden;
}
.gallery-slider {
  position: relative;
}
.gallery-prev {
  width: 88px;
  height: 88px;
  background-color: #FF3002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery-next {
  width: 88px;
  height: 88px;
  background-color: #FF3002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sport-bar {
  margin: 111px 0;
}
.sport-bar-mobile {
  padding-top: 20px;
  padding-bottom: 45px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #1E1E1E;
  height: 100%;
  overflow: scroll;
  width: 100vw;
}
.sport-bar-mobile-title {
  margin-left: 15px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 0px;
}
.sport-bar-mobile-icon {
  fill: #FF3002;
}
.sport-bar-mobile-close {
  width: 7px;
  height: 13px;
  margin-left: 15px;
  background-color: transparent;
  margin-bottom: 10px;
}
.sport-bar-mobile-product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 412px;
  margin: 0 auto;
}
.sport-bar-title {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  margin-bottom: 60px;
}
.sport-bar-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .sport-bar-filter-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.sport-bar-product-list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .sport-bar-product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.product-item {
  width: 412px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 0 11px 10px 11px;
}
.product-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #1E1E1E;
}
.product-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #1E1E1E;
}
.product-button {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5%;
  text-align: center;
  height: 48px;
  border: 1px solid #FF3002;
  border-radius: 5px;
  color: #FF3002;
  background-color: rgb(255, 255, 255);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  margin-bottom: 17px;
}
.product-button:hover {
  color: #F4F2F1;
  background-color: #FF3002;
}

.filter-button {
  font-family: Montserrat;
  font-weight: 400;
  width: 343px;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0px;
  height: 80px;
  border-radius: 5px;
  color: #F4F2F1;
  background-color: #43484D;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
@media screen and (min-width: 768px) {
  .filter-button {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-button {
    width: 282px;
  }
}

@media screen and (min-width: 768px) {
  .active {
    background-color: #FF3002;
  }
}

.hidden {
  display: none;
}

.not-open {
  visibility: hidden;
}

.modal-on {
  height: 100%;
  overflow-y: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  width: 375px;
  height: 85vh;
  background-color: #181C1F;
  top: 60px;
  left: 0;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 15px;
  padding-top: 55px;
  padding-bottom: 63px;
}
@media screen and (min-width: 768px) {
  .modal {
    left: 84px;
  }
}
.modal-close {
  position: absolute;
  top: 28px;
  right: 21px;
  background-color: transparent;
}
.modal-icon {
  fill: #F4F2F1;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}
.modal-icon:hover {
  fill: #FF3002;
}
.modal-title {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #FF3002;
  text-align: center;
  margin-bottom: 50px;
}
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 37px;
}
.modal-input {
  height: 56px;
  width: 100%;
  padding-left: 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #F4F2F1;
  color: #F4F2F1;
}
.modal-input::-webkit-input-placeholder {
  color: inherit;
}
.modal-input::-moz-placeholder {
  color: inherit;
}
.modal-input:-ms-input-placeholder {
  color: inherit;
}
.modal-input::-ms-input-placeholder {
  color: inherit;
}
.modal-input::placeholder {
  color: inherit;
}
.modal-input:focus {
  border: 1px solid #FF3002;
}
.modal-text {
  height: 140px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #F4F2F1;
  color: #F4F2F1;
  resize: none;
}
.modal-text::-webkit-input-placeholder {
  color: inherit;
}
.modal-text::-moz-placeholder {
  color: inherit;
}
.modal-text:-ms-input-placeholder {
  color: inherit;
}
.modal-text::-ms-input-placeholder {
  color: inherit;
}
.modal-text::placeholder {
  color: inherit;
}
.modal-text:focus {
  border: 1px solid #FF3002;
}
.modal-submit {
  height: 64px;
}

.is-hidden .modal {
  -webkit-transform: translate(-200%);
          transform: translate(-200%);
}/*# sourceMappingURL=main.css.map */