.gallery {
    margin-top: 97px;
    margin-bottom: 40px;

    .splide__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto !important;
        height: auto !important;
    }

    .splide__slide img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
    }

    .splide__arrow--prev {
        width: 88px;
        height: 88px;
        background-color: $accent-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        left: 80px;
        top: 50%;
        transform: translateY(-50%);
    }

    .splide__arrow--next {
        width: 88px;
        height: 88px;
        background-color: $accent-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        right: 80px;
        top: 50%;
        transform: translateY(-50%);
    }

    &-title {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-left: 15px;
        margin-bottom: 15px;
    }
}

.next-svg {
    width: 19px !important;
    height: 72px !important;
}

.prev-svg {
    fill: white;
}