.hero {
    padding-top: 155px;
    padding-bottom: 440px;
    background-image: 
    image-set(
        url('../images/herobg@3x.webp') 3x,
        url('../images/herobg@2x.webp') 2x,
        url('../images/herobg.webp') 1x,
        url('../images/herobg@3x.jpg') 3x,
        url('../images/herobg@2x.jpg') 2x,
        url('../images/herobg.jpg') 1x
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    &-content {
        display: flex;
        justify-content: left;
        flex-direction: column;

    }

    &-title {
        font-family: Montserrat;
        font-size: 140px;
        font-weight: 400;
        line-height: 140px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 32px;
    }

    &-desc {
        margin-bottom: 52px;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 400;
        line-height: 39.01px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    &-btn {
        width: 320px;
        height: 64px;
        @extend %button;
        border-radius: 8px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.05em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    &-socials {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 32px;
        position: absolute;
        top: 420px;
        right: -200px;
        transform: rotate(90deg);

        &::before,
        &::after {
            content: "";
            width: 215px; 
            border: 1px solid $text-color;
            display: block;

        }
    }
}

.hero-icon {
    fill: $text-color;
}