* {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    list-style: none;

}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
}

ul {
    padding-left: 0;
}

address {
    font-style: normal;
}

input {
    outline: none;
}